.products-bg {
  overflow-x: hidden;
}
.register-prime-img {
  width: 100%;
}
.products-responsive-div {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .sub-div1 {
    margin-right: 1.5rem;
  }
}
.search-field {
  background-color: #f1f5f9;
}
.input-field {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
.category-list,
.ratings-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.5rem;
}
.category-list li {
  line-height: 2.2rem;
}
@media (min-width: 768px) {
  .category-list li {
    width: 240px;
  }
}
.category-button,
.ratings-button {
  border: none;
  font-size: 1.1rem;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 7px;
}
.active{
  background: #c3e5fa;
  color: black;
}
.ratings-button {
  display: flex;
  align-items: center;
}

.rating-image {
  width: 170px;
}
.search-button-icon {
  padding: 0.3rem 1rem;
  border: none;
  background-color: transparent;
  outline: 0;
}
.icon {
  height: 30px;
  width: 30px;
}
.title-sort-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
@media (min-width: 768px) {
  .title-sort-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
.head-text {
  font-size: 1.7rem;
  margin-bottom: 0rem;
}
@media (min-width: 768px) {
  .head-text {
    margin-bottom: 0.8rem;
  }
}
.sort-by-filter-section {
  font-size: 1.2rem;
}

.option-select {
  border: none;
  outline: none;
  padding-left: 1rem;
  cursor: pointer;
}
.bar-icon {
  height: 1.6rem;
  width: 1.6rem;
}
.sort-by {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .sort-by {
    font-size: 1.1rem;
    position: relative;
  }
}

.products-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.product-list-item {
  margin-right: 1.3rem;
}
.nav-link-component {
  text-decoration: none;
}
.product-image-container {
  max-width: 400px;
}
.product-img {
  width: 100%;
}
.product-details {
  padding: 1rem 0rem;
}
.product-title {
  font-size: 1.9rem;
}
.product-brand {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
.product-price {
  color: #191f43;
  font-size: 1.4rem;
}
.sub-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.product-rating {
  font-size: 1.3rem;
  font-weight: bold;
}
.star-icon {
  position: relative;
  bottom: 0.11rem;
  color: #fff;
}

.no-products-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .no-products-section {
    margin-top: 4rem;
  }
}
.not-priducts-img {
  width: 360px;
}
